In [1]:
# --- Exercise 1 ---
numbers_list = list(range(1, 11))
numbers_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
# --- Exercise 2 ---
fruits_tuple = ("apple", "banana", "cherry")
fruits_tuple

('apple', 'banana', 'cherry')

In [3]:
# --- Exercise 3 ---
numbers = [10, 20, 30, 40]
numbers_tuple = tuple(numbers)
numbers_tuple

(10, 20, 30, 40)

In [4]:
# --- Exercise 4 ---
numbers_set = {1, 2, 3, 4, 5}
numbers_set

{1, 2, 3, 4, 5}

In [5]:
# --- Exercise 5 ---
student = {"name": "Alice", "age": 20, "grade": "A"}
student

{'name': 'Alice', 'age': 20, 'grade': 'A'}

In [6]:
# --- Exercise 6 ---
second_element = [10, 20, 30, 40, 50][1]
second_element

20

In [8]:
# --- Exercise 7 ---
fruits = ["apple", "banana", "cherry", "orange"]
fruits[2] = "mango"
fruits

['apple', 'banana', 'mango', 'orange']

In [10]:
# --- Exercise 8 ---
numbers = {1, 2, 3, 4, 5}
numbers.add(6)
numbers

{1, 2, 3, 4, 5, 6}

In [11]:
# --- Exercise 9 ---
person = {"name": "John", "age": 25, "city": "New York"}
person.pop("age")
person

{'name': 'John', 'city': 'New York'}

In [12]:
# --- Exercise 10 ---
range_obj = range(10)
range_obj

range(0, 10)

In [14]:
# --- Exercise 11 ---
squares = []
for x in range(1, 11):
    squares.append(x)
    
squares

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
# --- Exercise 12 ---
even_tuple = tuple(x for x in range(2, 11, 2))
even_tuple

(2, 4, 6, 8, 10)

In [17]:
# --- Exercise 13 ---
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [19]:
# --- Exercise 14 ---
exists = 3 in {1, 2, 3, 4, 5}
exists

True

In [20]:
# --- Exercise 15 ---
length = len((10, 20, 30))
length

3

In [22]:
# --- Exercise 16 ---
scores = [80, 85, 90, 95]
scores.append(100)

scores

[80, 85, 90, 95, 100]

In [24]:
# --- Exercise 17 ---
def sum_list(lst):
    return sum(lst)
liste = [1, 2, 3]
sum_list(liste)

6

In [25]:
# --- Exercise 18 ---
unique_numbers = set([1, 2, 2, 3, 4, 4, 5])
unique_numbers

{1, 2, 3, 4, 5}

In [26]:
# --- Exercise 19 ---
chars = list("hello")
chars

['h', 'e', 'l', 'l', 'o']

In [28]:
# --- Exercise 20 ---
def reverse_tuple(t):
    return t[::-1]
tuple_list = (1,2)
reverse_tuple(tuple_list)

(2, 1)

In [29]:
# --- Exercise 21 ---
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
merged_dict = {**dict1, **dict2}
merged_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
# --- Exercise 22 ---
squares_dict = {}
for x in range(1, 6):
    squares_dict[x] = x**2

squares_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [32]:
# --- Exercise 23 ---
for k, v in squares_dict.items():
    print(k, v)

1 1
2 4
3 9
4 16
5 25

In [39]:
# --- Exercise 24 ---
letters = []  

for i in range(ord('a'), ord('f')):  
    letters.append(chr(i)) 

print(letters)

['a', 'b', 'c', 'd', 'e']

In [35]:
# --- Exercise 25 ---
zipped = list(zip([1,2,3], ["a","b","c"]))
zipped

[(1, 'a'), (2, 'b'), (3, 'c')]

In [36]:
# --- Exercise 26 ---
index_50 = [10, 20, 30, 40, 50].index(50)
index_50

4

In [ ]:
# --- Exercise 27 ---
names = ["Alice", "Bob", "Charlie", "David"]
names.sort()

In [ ]:
# --- Exercise 28 ---
def max_in_list(lst):
    return max(lst)

In [ ]:
# --- Exercise 29 ---
fruits = ["apple", "banana", "apple", "orange"]
apple_count = fruits.count("apple")

In [ ]:
# --- Exercise 30 ---
person = {"name": "Alice", "age": 25, "city": "New York"}
city_value = person["city"]

In [ ]:
# --- Exercise 31 ---
def remove_duplicates(lst):
    return list(dict.fromkeys(lst))

In [ ]:
# --- Exercise 32 ---
def intersection(lst1, lst2):
    return list(set(lst1) & set(lst2))

In [ ]:
# --- Exercise 33 ---
def square_generator():
    for i in range(1, 11):
        yield i**2

In [ ]:
# --- Exercise 34 ---
def sum_dict_values(d):
    return sum(d.values())

In [ ]:
# --- Exercise 35 ---
sorted_list = sorted([3, 1, 4, 1, 5, 9])

In [ ]:
# --- Exercise 36 ---
def longest_string(lst):
    return max(lst, key=len)

In [ ]:
# --- Exercise 37 ---
all_positive = all(x > 0 for x in [1, 2, 3, 4, 5])

In [ ]:
# --- Exercise 38 ---
number_squares = [(x, x**2) for x in range(1, 6)]

In [ ]:
# --- Exercise 39 ---
def second_elements(lst):
    return [x[1] for x in lst]

In [ ]:
# --- Exercise 40 ---
def flatten(lst_of_lsts):
    return [item for sublist in lst_of_lsts for item in sublist]

In [ ]:
# --- Exercise 41 ---
for idx, val in enumerate(["apple","banana","cherry"]):
    print(idx, val)

In [ ]:
# --- Exercise 42 ---
def is_tuple_empty(t):
    return len(t) == 0

In [ ]:
# --- Exercise 43 ---
even_numbers = list(range(2, 21, 2))

In [ ]:
# --- Exercise 44 ---
def reverse_list(lst):
    return lst[::-1]

In [ ]:
# --- Exercise 45 ---
cubes_dict = {x: x**3 for x in range(1,6)}

In [ ]:
# --- Exercise 46 ---
unique_list = list(dict.fromkeys([1, 2, 2, 3, 4, 4, 5]))

In [ ]:
# --- Exercise 47 ---
def get_values(lst_dicts, key):
    return [d[key] for d in lst_dicts if key in d]

In [ ]:
# --- Exercise 48 ---
def fibonacci_gen(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a+b

In [ ]:
# --- Exercise 49 ---
def unique_chars(s):
    return list(set(s))

In [ ]:
# --- Exercise 50 ---
def merge_sorted(lst1, lst2):
    return sorted(lst1 + lst2)

In [ ]:
# --- Exercise 51 ---
filtered = list(filter(lambda x: x%2==0, [1,2,3,4,5,6]))

In [ ]:
# --- Exercise 52 ---
dict_from_tuples = dict([(1,2),(3,4),(5,6)])

In [ ]:
# --- Exercise 53 ---
def symmetric_diff(s1, s2):
    return s1 ^ s2

In [ ]:
# --- Exercise 54 ---
def common_elements(list1, list2, list3):
    return list(set(list1) & set(list2) & set(list3))

In [ ]:
# --- Exercise 55 ---
def factorial(n):
    return 1 if n<=1 else n*factorial(n-1)

In [ ]:
# --- Exercise 56 ---
no_empty = list(filter(None, ["apple", "", "banana", "", "cherry"]))

In [ ]:
# --- Exercise 57 ---
def swap_dict(d):
    return {v:k for k,v in d.items()}

In [ ]:
# --- Exercise 58 ---
def only_even(lst):
    return [x for x in lst if x%2==0]

In [ ]:
# --- Exercise 59 ---
def first_elements(lst):
    return [x[0] for x in lst]

In [ ]:
# --- Exercise 60 ---
def remove_duplicates_ordered(lst):
    seen = set()
    return [x for x in lst if not (x in seen or seen.add(x))]

In [ ]:
# --- Exercise 61 ---
lengths = list(map(len, ["apple", "banana", "cherry"]))

In [ ]:
# --- Exercise 62 ---
def average(lst):
    return sum(lst)/len(lst)

In [44]:
# --- Exercise 63 ---
def fib(n):
    if n == 0:
        return 0
    if n==1:
        return 1
    return fib(n-1) + fib(n-2)
fib(3)

2

In [47]:
# --- Exercise 64 ---
fruits = ["apple", "banana", "apple", "cherry"]

counter = {} 

for fruit in fruits:
    if fruit in counter:
        counter[fruit] += 1
    else:
        counter[fruit] = 1

print(counter)

{'apple': 2, 'banana': 1, 'cherry': 1}

In [48]:
# --- Exercise 65 ---
numbers = [1, 2, 3, 2, 4, 2, 5]
value_to_remove = 2

while value_to_remove in numbers:
    numbers.remove(value_to_remove)

print(numbers)

[1, 3, 4, 5]

In [55]:
# --- Exercise 66 ---
def words_starting_with_vowel(words):
    vowels = 'aeiouAEIOU'   
    out = []             

    for word in words:      
        if word and word[0] in vowels:   
            out.append(word)          

    return out

words = ["apple", "Banana", "orange", "Grape", "Umbrella", "cherry", "Ice"]
print(words_starting_with_vowel(words))

['apple', 'orange', 'Umbrella', 'Ice']

In [56]:
# --- Exercise 67 ---
def set_intersection(s1,s2):
    return s1 & s2
s1 = {1, 2, 3}
s2 = {1, 2}
set_intersection(s1,s2)

{1, 2}

In [57]:
# --- Exercise 68 ---
def flatten_list(lst):
    new_list = []
    for item in lst:
        if type(item) == list:       
            new_list += flatten_list(item)
        else:
            new_list.append(item)     
    return new_list

nested = [1, [2, [3, 4], 5], [6, 7], 8]
print(flatten_list(nested))

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# --- Exercise 69 ---
def all_unique(lst):
    return len(lst) == len(set(lst))

In [65]:
# --- Exercise 70 ---
from functools import reduce

list_number = [1, 2, 3]

def mult(x, y):
    return x * y

product = reduce(mult, list_number)

print("Liste :", list_number)
print("Product of all elements:", product)

Liste : [1, 2, 3]
Product of all elements: 6

In [66]:
# --- Exercise 71 ---
def string_length_dict(lst):
    return {s: len(s) for s in lst}

string_length_dict(["abc","dec"])

{'abc': 3, 'dec': 3}

In [ ]:
# --- Exercise 72 ---
def count_vowels(s):
    return sum(1 for c in s.lower() if c in 'aeiou')

In [ ]:
# --- Exercise 73 ---
import math
factorial_tuples = [(x, math.factorial(x)) for x in range(1,6)]

In [ ]:
# --- Exercise 74 ---
def merge_dicts(dicts):
    result = {}
    for d in dicts:
        result.update(d)
    return result

In [ ]:
# --- Exercise 75 ---
def is_subset(s1,s2):
    return s1 <= s2

In [ ]:
# --- Exercise 76 ---
def sort_by_second(lst):
    return sorted(lst, key=lambda x: x[1])

In [ ]:
# --- Exercise 77 ---
def positive_only(lst):
    return [x for x in lst if x>0]

In [ ]:
# --- Exercise 78 ---
def union_sets(s1,s2):
    return s1 | s2

In [ ]:
# --- Exercise 79 ---
def product_numbers(lst):
    from functools import reduce
    import operator
    return reduce(operator.mul, lst, 1)

In [ ]:
# --- Exercise 80 ---
chars = ['a','b','c']
string_from_chars = ''.join(chars)

In [ ]:
# --- Exercise 81 ---
def second_largest(lst):
    return sorted(lst)[-2]

In [ ]:
# --- Exercise 82 ---
def sorted_keys(d):
    return sorted(d.keys())

In [ ]:
# --- Exercise 83 ---
def most_common_element(lst):
    return Counter(lst).most_common(1)[0][0]

In [ ]:
# --- Exercise 84 ---
def sort_tuples(lst):
    return sorted(lst, key=lambda x:x[0])

In [ ]:
# --- Exercise 85 ---
def remove_dict_duplicates(lst_dicts):
    seen = []
    result = []
    for d in lst_dicts:
        if d not in seen:
            seen.append(d)
            result.append(d)
    return result

In [ ]:
# --- Exercise 86 ---
def min_max(lst):
    return min(lst), max(lst)

In [ ]:
# --- Exercise 87 ---
def list_of_tuples(lst1,lst2):
    return list(zip(lst1,lst2))

In [ ]:
# --- Exercise 88 ---
def reverse_strings(lst):
    return [s[::-1] for s in lst]

In [ ]:
# --- Exercise 89 ---
def sum_odds(lst):
    return sum(x for x in lst if x%2!=0)

In [ ]:
# --- Exercise 90 ---
def is_palindrome(s):
    return s == s[::-1]

In [ ]:
# --- Exercise 91 ---
def median(lst):
    lst_sorted = sorted(lst)
    n = len(lst_sorted)
    mid = n//2
    if n%2==0:
        return (lst_sorted[mid-1]+lst_sorted[mid])/2
    else:
        return lst_sorted[mid]

In [ ]:
# --- Exercise 92 ---
def sum_dicts(lst_dicts):
    result = {}
    for d in lst_dicts:
        for k,v in d.items():
            result[k] = result.get(k,0) + v
    return result

In [ ]:
# --- Exercise 93 ---
def mode(lst):
    return Counter(lst).most_common(1)[0][0]

In [ ]:
# --- Exercise 94 ---
def sum_squares(lst):
    return sum(x**2 for x in lst)

In [ ]:
# --- Exercise 95 ---
cubes_tuples = [(x,x**3) for x in range(1,6)]

In [ ]:
# --- Exercise 96 ---
def primes_up_to(n):
    sieve = [True]*(n+1)
    sieve[0:2]=[False,False]
    for i in range(2,int(n**0.5)+1):
        if sieve[i]:
            for j in range(i*i,n+1,i):
                sieve[j]=False
    return [i for i,prime in enumerate(sieve) if prime]

In [ ]:
# --- Exercise 97 ---
def common_keys(d1,d2):
    return set(d1.keys()) & set(d2.keys())

In [ ]:
# --- Exercise 98 ---
def long_strings(lst):
    return [s for s in lst if len(s)>5]

In [12]:
# --- Exercise 99 ---
def string_length_tuples(lst):
    result = []
    for s in lst:
        result.append((s, len(s)))
    return result
fruits = ["apple", "banana"]
print(string_length_tuples(fruits))

[('apple', 5), ('banana', 6)]

In [10]:
# --- Exercise 100 ---
def sum_dict_keys(list_dicts):
    result = {}
    for d in list_dicts:
        for k, v in d.items():
            result[k] = result.get(k, 0) + v
    return result

list_dicts = [{'Banana': 20}, {'mangoes': 30}, {'Apple': 5}, {'January':1}]
print(sum_dict_keys(list_dicts))

{'Banana': 20, 'mangoes': 30, 'Apple': 5, 'January': 1}